<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/hdzj_2016</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="format_sql">true</property>
    <mapping class="wl.hdzj.entity.Columnnn"/>
    <mapping class="wl.hdzj.entity.Member"/>
    <mapping class="wl.hdzj.entity.News"/>
    <mapping class="wl.hdzj.entity.Relation"/>
    <mapping class="wl.hdzj.entity.Team"/>
    <mapping class="wl.hdzj.entity.User"/>
  </session-factory>
</hibernate-configuration>